#body{
    /* display: flex;
    flex-direction: row; */
background-color: rgba(62, 59, 59, 0.944); 
    /* /* margin-left: 00px; */
}

button{
    /* margin-top: 30%; */
    margin-left: 20px;
    margin-left: 20px;
background-color: rgb(5, 86, 133);
color: aliceblue;
}

#maindiv{
    margin-right: 70px;
 display: flex;
    flex-direction: column; 
    /* border: 1px solid; */
align-items: center;

}
h1{

    border: 1px, solid;
    color: rgb(10, 58, 78);
}
#divindiv{
    margin-right: 70px;
    display: flex;
       flex-direction: column; 
       /* border: 1px solid; */
   /* align-items: center; */
}
/* span{
    display: flex;
    flex-direction: row;
  
} */


h2{
   
    box-shadow:  1px 3px 5px 5px #292a2a;
    margin: auto;
    text-align: center;
    color: rgb(31, 31, 31);
    padding-bottom: 6px;
    padding-right: 7px;
}

#head{
    margin-bottom: 10px;
}
#valuediv{
    margin-top: 20px;
    box-shadow:  1px 3px 5px 5px #389797;
    padding: 10px;
}